/* Custom CSS in addition to bootstrap.css */

body{
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

.navbar-form{
  padding-top: 5px;
  padding-right: 10px;
}

body > .navbar .brand{
  margin-left: 5px;
}

#main article img{
  height: auto;
  max-width: 100%;
}

.alignleft{
  margin-right: 10px;
  float: left;
}

.alignright{
  margin-left: 10px;
  float: right;
}

.aligncenter{
  display: block;
  marginn: 0 auto;
}

.post header img{
  margin-bottom: 18px;
}

.text-justify        { text-align: justify; }

/* Better Style for embedded gists
/* Better styles for embedding GitHub Gists */
.gist{font-size:13px;line-height:18px;margin-bottom:20px;width:100%}
.gist pre{font-family:Menlo,Monaco,'Bitstream Vera Sans Mono','Courier New',monospace !important}
.gist-meta{font-family:Helvetica,Arial,sans-serif;font-size:13px !important}
.gist-meta a{color:#26a !important;text-decoration:none}
.gist-meta a:hover{color:#0e4071 !important}
.line-data { font-size:11px; font-family: Consolas,"Liberation Mono",Courier,monospace; }
.line-numbers { font-size:11px; background-color: #ECECEC; border-right: 1px solid #DDDDDD; color: #AAAAAA; padding: 0.0em; text-align: right; } 
.line-pre { font-size:11px;font-family: Consolas,"Liberation Mono",Courier,monospace; }